html {
  position: relative;
  min-height: 100vh;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  // padding: 60px 0;
  margin-bottom: 60px;
  text-align: center;
  h2 {
    text-transform: uppercase;
    color: $primary;
  }
}
