footer {
  background-color: $primary;
  padding: 30px;
  // display: flex;
  // align-items: center;

  p {
    text-align: center;
    color: white;
    margin-bottom: 0;
    font-size: 1.2rem;
  }
}
